<h1 style="text-align:center;">Data Collection System</h1>
<hr size="10" style="background-color:#000000">

<p><h2>Welcome to the Homepage of the data entry web application, version 2.</h2></p>

You can see all existing threat reports <a href="/threat/display">Here</a>.</br>
You can submit your own threat report <a href="/threat/name">Here</a>.</br>

<hr size="10" style="background-color:#000000">
<h1 style="text-align:center;">Second Version, made in 2022</h1>
