<p><h1>Welcome to the Homepage of the data entry web application, version 2.</h1></p>

You can see all existing threat reports <a href="/threat/display">Here</a>.</br>
You can submit your own threat report <a href="/threat/name">Here</a>.</br>

